src/main/mule/streamingdemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="49e26adf-a1f7-4fb4-bca9-711b6f6cca18" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="admin" />
	</db:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="340063f9-abd8-44da-a72c-7c0575edbe5e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="streamingdemoFlow" doc:id="15cd6319-7ac9-4b6d-999d-e02282b27b15" >
		<http:listener doc:name="Listener" doc:id="9b915045-9e5e-4bbd-878d-37c71ffe8edf" config-ref="HTTP_Listener_config" path="/stream"/>
		<logger level="INFO" doc:name="Logger" doc:id="b860775d-5e5e-4f1e-acf9-0462316e4f2a" message="Request Received"/>
		<db:select doc:name="Select" doc:id="9f0a3a5b-ef59-4800-9fad-2f260fcb54ed" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from demo.Employee;]]></db:sql>
		</db:select>
		<logger level="INFO" doc:name="Raw Payload" doc:id="032c3d1d-e185-4d08-8f00-560bfdd80845" message="#[payload]"/>
		<logger level="INFO" doc:name="json payload" doc:id="8aaaa422-9465-43ec-8079-4dee1f94c7d7" message="#[output application/json --- payload]"/>
		<logger level="INFO" doc:name="Raw payload after stream" doc:id="5e420941-7f4c-4e81-806d-6505e46373ed" message="#[payload]"/>
		<logger level="INFO" doc:name="json payload after stream" doc:id="af6304ee-55cc-4b31-ad9d-214e0c178bcc" message="#[output application/json&#10;---&#10;payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="197de165-ca9f-414d-bed2-4237ddef41d4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
